@import url("./media/xl/xl.css") screen and (min-width: 1200px);
@import url("./media/lg/lg.css") screen and (min-width: 992px) and
  (max-width: 1200px);
@import url("./media/md/md.css") screen and (min-width: 768px) and
  (max-width: 992px);
@import url("./media/sm/sm.css") screen and (min-width: 576px) and
  (max-width: 768px);
@import url("./media/xs/xs.css") screen and (max-width: 576px);

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
}

.header__hero .hero__content form .form-group input:-webkit-autofill,
.header__hero .hero__content form .form-group input:-webkit-autofill:hover,
.header__hero .hero__content form .form-group input:-webkit-autofill:focus {
  -webkit-text-fill-color: white !important;
  -webkit-box-shadow: 0 0 0px 1000px #00000048 inset !important;
}

@media (hover: hover) and (pointer: fine) {
  .header__auth .btn:hover {
    background-color: #a3161d;
  }

  .header__hero .hero__content form .btn:hover {
    background-color: #a3161d;
  }

  .header__lang-wrapper .dropdown-menu .dropdown-item:hover {
    background-color: #2776e5 !important;
    color: #fff !important;
  }
}
